In [ ]:
#Functions
print.__doc__

"print(value, ..., sep=' ', end='\\n', file=sys.stdout, flush=False)\n\nPrints the values to a stream, or to sys.stdout by default.\nOptional keyword arguments:\nfile:  a file-like object (stream); defaults to the current sys.stdout.\nsep:   string inserted between values, default a space.\nend:   string appended after the last value, default a newline.\nflush: whether to forcibly flush the stream."

In [ ]:
len.__doc__

'Return the number of items in a container.'

In [ ]:
def square(n):
    '''Takes in a number n, returns the square of n'''
    return n**2

In [ ]:
square.__doc__

'Takes in a number n, returns the square of n'

In [ ]:
y = 7
def funct1():
  global y
  y = y + 1
  print(y)
print(y)

7

In [ ]:
funct1()

8

In [ ]:
y

8

In [ ]:
def add_two(a,b) ->int:
  return a + b

In [ ]:
add_two(4,5)

9

In [ ]:
a

20

In [ ]:
a :int = 20

In [ ]:
a =30.5

In [ ]:
a

30.5

In [ ]:
def myfunct(*names):
  for i in names:
    print(f'hello {i}')

In [ ]:
myfunct('peter','john',20,True)

hello peter
hello john
hello 20
hello True

In [ ]:
def myfunct2(**item):
  for key,value in item.items():
    print(f'{key} is {value}')

In [ ]:
myfunct2(name='peter',age=20)

name is peter
age is 20

In [ ]:
myfunct2(name='peter',age=20)

name is peter
age is 20

In [ ]:
#map
n = list(range(20))
def even(x):
  return x % 2 == 0
list(map(even,n))

[True,
 False,
 True,
 False,
 True,
 False,
 True,
 False,
 True,
 False,
 True,
 False,
 True,
 False,
 True,
 False,
 True,
 False,
 True,
 False]

In [ ]:
#reduce
n = list(range(5))   #0,1,2,3,4
from functools import reduce
def add(x,y):
  return x + y

reduce(add,n)

10

In [ ]:
#filter
n = list(range(20))
def is_even(x):
  return x % 2 == 0
print('filtered numbers' , list(filter(is_even,n)))

filtered numbers [0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [ ]:
from math import pi,sqrt
def r_square(r):
  return r * r
def area_circle(r,f,a):
  print('area of square ',f(r) * a[0])
  print('area of circle ',f(r) * a[1])
  print('area of hexagone ',f(r) * a[2])

In [ ]:
area_circle(4,r_square,[1,pi,(3*sqrt(3)/2)])

area of square  16
area of circle  50.26548245743669
area of hexagone  41.569219381653056

In [ ]:
#lamda functions
a = lambda x : x*x

In [ ]:
a(5)

25

In [ ]:
num1 = [1,2,4]
num2 = [2,4,5,6]
num3 = [1,2,3]

In [ ]:
list(map(lambda x,y,z : x+y+z,num1,num2,num3))

[4, 8, 12]

In [ ]:
b = lambda :'hello'

In [ ]:
a(4)

16

In [ ]:
n = lambda x : f"{x} is even" if x % 2 == 0 else f"{x} is odd"
print(n(9))

9 is odd

In [ ]:
class Person:
  def add_numbers(self,a,b):
    return a + b

In [ ]:
p = Person()

In [ ]:
p.add_numbers(4,5)

9